/* ============================
*  Base
* ========================== */
body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

/* ============================
*  Custom
* ========================== */
.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-inline: 1.5rem;
}

.card__list {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 320px));
  gap: 1.5rem;

  @media screen and (max-width: 500px) {
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: 1.5rem;
  }

  &.is-hidden {
    display: none;
  }
}

.card {
  box-shadow: inset 0 0 0 2px #999;
  border-radius: 8px;

  @media screen and (max-width: 500px) {
    width: 100%;
  }

  & .card__image {
    border-radius: 8px 8px 0 0;
  }

  & .card__body {
    padding: 1rem;
  }
}

.button {
  width: fit-content;
  padding-block: 0.5rem;
  padding-inline: 1rem;
}
